.App {
  text-align: center;
  margin-bottom: 0px;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: Text-name-spin infinite 20s linear;
  }
}

li a:link, li a:visited {
  color: #8b7b96;
}

.Top {
  position: relative;
  margin-top: 15px;
  height: 16vh;
  display: flex;
  flex-direction:column;
  align-items: center;
}

.Videos {
  position: absolute;
  top: 50%;
  min-width: 20%;
  max-width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1439px) { /* or any width that you think isn't enough */
  .Videos{
      display: none;
  }
}

.Touch ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center; /* or space-between, depending on your design */
  padding: 0; /* remove default padding */
  list-style: none; 
  background: #8b7b96;
  margin-right: 0px;
}

.Touch li a {
  text-decoration: none;
  font-size: calc(12px + 2vmin);
  margin-right: 0px;
}

.Touch li {
  box-sizing: border-box;
  padding: 10px;
  border: 3px solid #000;
  background: #fff;
  background-clip: padding-box;
  margin-right: 0px;
}

.Touch {
  display: flex;
  flex-direction: row;
  margin-right: 0px;
}

.App {
  background-color: #8b7b96;
  min-height: 1vh;
  margin-right: 0px;
  display: flex;
  padding-inline: 35px;
  flex-direction: row;
  align-items: normal;
  justify-content: center;
}

.App article p {
  margin-left: 200px;
  margin-right: 200px;
  font-size: calc(4px + 2vmin)
}

.App-link {
  color: #61dafb;
}

@keyframes Text-name-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
